.site {
    --body-color: linear-gradient(90deg, rgb(96, 160, 243) 0%, rgb(46, 124, 226) 100%);
    --body-color2: linear-gradient(150deg, rgb(16, 165, 235) 0%, rgb(97, 147, 241) 100%);
    --body-color3: linear-gradient(150deg, rgb(12, 235, 205) 0%, rgb(111, 230, 146) 100%);
}


a
 {
  text-decoration: none !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.site {
    width: 100%;
    background: var(--body-color);

}


.Header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: var(--body-color2);
}

.name_logo {
    height: 100px;
    margin-right: 50px;
    font-size: medium;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.logo_all {
    display: flex;
    margin-left: 100px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.top_but {
    display: flex;
    margin-right: 200px;
}
.info {
    height: 100px;
    font-size: medium;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    
}

.menu__logo {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.menu__link {
    margin-left: 130px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.Mid {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.Mid_like {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin-top: 10%;
    
}

.Mid_one {

    height: 100%;
    width: 600px;
    
}

.Mid_two {
    display: flex;
    width: 600px;
    height: 100%;
    
}

.Text_app {
    display: flex;
    color: white;
    font-size: 90px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 20px;
    width: 100%;
    align-items: baseline;
    align-content: center;
}

.Info_app {
    display: flex;
    color: white;
    font-size: 13px;
    line-height: 200%;
    opacity: .75;
    margin-bottom: 50px;
    margin-right: 150px;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}
.image {
    width: 100px;
    height: 200px;
}

.Mid_low {
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.Mid_block {
    display: flex;
    height: 100%;
    width: 600px;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Mid_block2 {
    display: flex;
    height: 100%;
    width: 600px;
    flex-direction: column;
    flex-wrap: nowrap;
    }
.Min_t {
    display: flex;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 20px;
    width: 100%;
    align-items: baseline;
    align-content: center;
}


.Min_text {
    display: flex;
    color: white;
    font-size: 13px;
    line-height: 400%;
    opacity: .75;
    margin-bottom: 50px;
    margin-right: 150px;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;


}
.que {
    display: inline;
}
.quest {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.Open {
    display: flex;
    color: white;
    font-size: 15px;
    line-height: 200%;
    font-weight: 600;
    opacity: .0.10;
    margin-bottom: 20px;
    
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}

.Open2 {
    display: flex;
    color: white;
    font-size: 13px;
    line-height: 200%;
    opacity: .75;
    margin-bottom: 30px;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}

.LTE {
    height: 100px;
    width: 100%;
    background: var(--body-color2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.number {
    display: flex;
    color: white;
    font-size: 13px;
    line-height: 200%;
    font-weight: 200;
    margin-bottom: 5px;
    margin-right: 50px;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}

.email {
    display: flex;
    color: white;
    font-size: 13px;
    line-height: 200%;
    font-weight: 200;
    margin-bottom: 5px;
    margin-left: 50px;
    align-items: baseline;
    justify-content: flex-start;
    align-content: center;
}

.line {
    margin:20px;
    border-bottom:1px solid var(--body-color3);;
    border-width:100%;
}

.Down_app {
    display: flex;
}
.but {
    margin-left: 50px;
    height: 80px;
    width: 220px;
    border-radius: 15px;
    background: var(--body-color3);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    color: rgb(68, 67, 67);
    font-size: 20px;
}

.text_but {

    
}

